<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Line Drawing and Highlighting</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    
</head>
<body>
    <header>
        <h1>Header Section</h1>
    </header>
    <main>
        <div id="leftContent">
            <button id="clearStorage">Clear Storage</button>
            <select id="lineSelect">
                <option value="">Select a line to highlight</option>
            </select>
            
  
            <button id="removeLine">Remove Selected Line</button>
            <button id="zoomIn">Zoom In</button>
            <button id="zoomOut">Zoom Out</button>
            <button id="translateGrid">Translate Grid</button>
            <div>
                <label>X1: <input type="number" id="x1" /></label>
                <label>Y1: <input type="number" id="y1" /></label>
                <label>X2: <input type="number" id="x2" /></label>
                <label>Y2: <input type="number" id="y2" /></label>
            </div>
            
            <div id="forcesSection">
                <h3>Forces</h3>
                <label for="lineSelectForce">Select Line:</label>
                <select id="lineSelectForce">
                    <option value="">Select a line</option>
                </select>
               <label for="lineNum">Line Number:</label>
            <input type="number" id="lineNum" name="lineNum" placeholder="Enter Line Number">
    
            <label for="forceNum">Force Number:</label>
            <input type="number" id="forceNum" name="forceNum" placeholder="Enter Force Number">
                <select id="forceSelect">
                <option value="">Select a Force</option>
                </select>
    
                <label for="fx">F<sub>x</sub>:</label>
                <input type="number" id="fx" name="fx">
                <label for="fy">F<sub>y</sub>:</label>
                <input type="number" id="fy" name="fy">
                <label for="forceX">X:</label>
                <input type="number" id="forceX" name="forceX">
                <label for="forceY">Y:</label>
                <input type="number" id="forceY" name="forceY">
                <button id="addForce">Add Force</button>
                <button id="updateForce">Update Force</button>
                <button id="deleteForce">Delete Force</button>
            
            </div>
            

            <div id="distributiveForcesSection">
                <h3>Distributive Forces</h3>
                <label for="lineSelectDistributive">Select Line:</label>
                <select id="lineSelectDistributive">
                    <option value="">Select a line</option>
                </select>

                <!-- Line Number Input -->
                <label for="lineNumDist">Line Number:</label>
                <input type="number" id="lineNumDist" name="lineNumDist" placeholder="Enter Line Number">

                <!-- Force Number Input -->
                <label for="forceNumDist">Force Number:</label>
                <input type="number" id="forceNumDist" name="forceNumDist" placeholder="Enter Force Number">

                <!-- Dropdown for Selecting Existing Forces -->
                <select id="distributiveForceSelect">
                    <option value="">Select a Force</option>
                </select>

                <!-- Force Distribution Input -->
                <label for="distributiveForce">Force:</label>
                <input type="text" id="distributiveForce" name="distributiveForce" placeholder="Enter force (e.g., 100 or 10*x)">

                <!-- X1 Input -->
                <label for="x1Dist">X1:</label>
                <input type="number" id="x1Dist" name="x1Dist">

                <!-- Y1 Input -->
                <label for="y1Dist">Y1:</label>
                <input type="number" id="y1Dist" name="y1Dist">

                <!-- X2 Input -->
                <label for="x2Dist">X2:</label>
                <input type="number" id="x2Dist" name="x2Dist">

                <!-- Y2 Input -->
                <label for="y2Dist">Y2:</label>
                <input type="number" id="y2Dist" name="y2Dist">

                <!-- Add Distributive Force Button -->
                <button id="addDistributiveForce">Add Distributive Force</button>

                <!-- Update Distributive Force Button -->
                <button id="updateDistributiveForce">Update Distributive Force</button>

                <!-- Delete Distributive Force Button -->
                <button id="deleteDistributiveForce">Delete Distributive Force</button>
            </div>

            <div id="bodyForcesSection">
            <h3>Body Forces (Density)</h3>

                <label for="lineSelectBody">Select Line:</label>
                <select id="lineSelectBody">
                    <option value="">Select a line</option>
                </select>

            <!-- Line Number Input -->
            <label for="bodyLineNum">Line Number:</label>
            <input type="number" id="bodyLineNum" name="bodyLineNum" placeholder="Enter Line Number">

            <!-- Density Number Input -->
            <label for="densityNum">Density Number:</label>
            <input type="number" id="densityNum" name="densityNum" placeholder="Enter Density Number">

             <!-- Dropdown for Selecting Existing Body Forces -->
            <select id="bodyForceSelect">
                <option value="">Select a Body Force</option>
            </select>

            <!-- Density Value Input -->
            <label for="densityVal">Density Value:</label>
            <input type="number" id="densityVal" name="densityVal" placeholder="Enter Density Value">

            <!-- Area Input -->
            <label for="area">Area (A):</label>
            <input type="text" id="area" name="area" placeholder="Enter area (e.g., 100 or 10*x)">

            <!-- Young's Modulus Input -->
            <label for="youngsModulus">Young's Modulus (E):</label>
            <input type="number" id="youngsModulus" name="youngsModulus" placeholder="Enter Young's Modulus (E)">

            <!-- X1 Body Force Input -->
            <label for="x_bf1">X1:</label>
            <input type="number" id="x_bf1" name="x_bf1">

            <!-- Y1 Body Force Input -->
            <label for="y_bf1">Y1:</label>
            <input type="number" id="y_bf1" name="y_bf1">

            <!-- X2 Body Force Input -->
            <label for="x_bf2">X2:</label>
            <input type="number" id="x_bf2" name="x_bf2">

            <!-- Y2 Body Force Input -->
            <label for="y_bf2">Y2:</label>
            <input type="number" id="y_bf2" name="y_bf2">

            <!-- Add Body Force Button -->
            <button id="addBodyForce">Add Body Force</button>

            <!-- Update Body Force Button -->
            <button id="updateBodyForce">Update Body Force</button>

            <!-- Delete Body Force Button -->
            <button id="deleteBodyForce">Delete Body Force</button>
                
                </div>
           
            <div id="thermalForcesSection">
                <h3>Thermal Loads</h3>
                <label for="lineSelectThermal">Select Line:</label>
                <select id="lineSelectThermal">
                    <option value="">Select a line</option>
                </select>
                <!-- Line Number Input -->
            <label for="thermalLineNum">Line Number:</label>
            <input type="number" id="thermalLineNum" name="thermalLineNum" placeholder="Enter Line Number">
            
            <!-- Alpha Input -->
            <label for="alpha">Coefficient of Thermal Expansion (α):</label>
            <input type="number" id="alpha" name="alpha" placeholder="Enter Alpha (α)">
            
            <!-- Temperature Difference Input -->
            <label for="temperature">Temperature Difference (ΔT):</label>
            <input type="number" id="temperature" name="temperature" placeholder="Enter Temperature (ΔT)">
            
            <!-- X1 Coordinate Input -->
            <label for="xt1">X1:</label>
            <input type="number" id="xt1" name="xt1">
            
            <!-- Y1 Coordinate Input -->
            <label for="yt1">Y1:</label>
            <input type="number" id="yt1" name="yt1">
            
            <!-- X2 Coordinate Input -->
            <label for="xt2">X2:</label>
            <input type="number" id="xt2" name="xt2">
            
            <!-- Y2 Coordinate Input -->
            <label for="yt2">Y2:</label>
            <input type="number" id="yt2" name="yt2">
            
            <!-- Add Thermal Load Button -->
            <button id="addThermalLoad">Add Thermal Load</button>
            
            <!-- Update Thermal Load Button -->
            <button id="updateThermalLoad">Update Thermal Load</button>
            
            <!-- Delete Thermal Load Button -->
            <button id="deleteThermalLoad">Delete Thermal Load</button>
            
            <!-- Dropdown for Selecting Existing Thermal Loads -->
            <select id="thermalLoadSelect">
                <option value="">Select a Thermal Load</option>
            </select>

            </div>
            
            <button onclick="startAnalysis()">Start Analysis</button>
        </div>
        <div id="rightMainContentContainer">
            <canvas id="canvas"></canvas>
        </div>
        <div id="workspace">

            <div id="upperSection">
             <!-- Upper Section -->
            <h2>Select Boundary Condition</h2>
            <button id="bc1">1</button>
            <button id="bc2">2</button>
            <button id="bc3">3</button>
            <button id="bc4">4</button>
            <button id="bc5">5</button>
            <button id="bc6">6</button>
            <button id="bc7">7</button>
            <button id="bc8">8</button>
            <button id="bc9">9</button>
        </div>

        <!-- Middle Section -->
        <div id="middleSection">
            <!-- This section will dynamically show content based on the button selected -->
            <div id="content1" class="bcContent">Content for BC 1</div>
            <div id="content2" class="bcContent">Content for BC 2</div>
            <div id="content3" class="bcContent">Content for BC 3</div>
            <!-- Add content divs for other boundary conditions as needed -->
        </div>

        <!-- Lower Section -->
        <div id="lowerSection">
            <button id="linear">Linear</button>
            <button id="quadratic">Quadratic</button>
            <button id="mesh">Mesh</button>
            <button id="analysis">Analysis</button>
        </div>   
        
        </div>
    </main>
    <footer>
        <p>DREAMS NEVER DIE</p>
    </footer>


    <script src="{{ url_for('static', filename='js/draw.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pointer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/force.js') }}"></script>
    <script src="{{ url_for('static', filename='js/distributive_force.js') }}"></script>
    <script src="{{ url_for('static', filename='js/body_force.js') }}"></script>
    <script src="{{ url_for('static', filename='js/thermal_force.js') }}"></script>
    <script src="{{ url_for('static', filename='js/force_handling.js') }}"></script>
    <script src="{{ url_for('static', filename='js/distributive_force_handling.js') }}"></script>
    <script src="{{ url_for('static', filename='js/body_force_handling.js') }}"></script>
    <script src="{{ url_for('static', filename='js/thermal_load_handling.js') }}"></script>

    

<script>
        function startAnalysis() {
            window.open('/results', '_blank');
        }
    </script>

<script>
        document.addEventListener('DOMContentLoaded', () => {
    const buttons = document.querySelectorAll('#upperSection button');
    const contents = document.querySelectorAll('.bcContent');
    
    buttons.forEach(button => {
        button.addEventListener('click', () => {
            // Hide all content divs
            contents.forEach(content => content.classList.remove('active'));
            
            // Show the selected content
            const selectedContent = document.querySelector(`#content${button.textContent}`);
            if (selectedContent) {
                selectedContent.classList.add('active');
            }
        });
    });
});

    </script>

</body>
</html>
